body {
  background: blue;
  margin: 0;
  padding: 100px;
}
.container {
  height: 100%;
  width: 100%;
  border: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.registration {
  background: white;
  width: 25%;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}
.form-group input {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  border: none;
  border-bottom: 1px darkgray solid;
  padding: 5px;
  padding-left: 25px;
  padding-top: 2px;
}
.login {
  background: white;
  margin-right: 50px;
  width: 20%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.form-group1 {
  margin-bottom: 15px;
}
.form-group1 input {
  width: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 1px;
  border: none;
  border-bottom: 1px darkgray solid;
  padding: 5px;
  padding-left: 25px;
  padding-top: 2px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  justify-items: center;
  margin-top: 40px;
}
p {
  text-align: center;
  margin-top: 15px;
  font-size: small;
}
#term {
  display: flex;
  align-items: center;
  font-size: small;
}
#registration {
  text-decoration: underline;
  text-decoration-color: blue;
}
h1 {
  display: flex;
  justify-content: top;
  align-items: left;
  padding-bottom: 20px;
}
i {
  position: absolute;
  margin-left: 5px;
  color: gray;
}
