*{
    margin: 0;
    padding: 0;

}
.card{
    margin: 5rem;
    width: 400px;;
}
.pic
{
    background-image: url(./CalculatorBGImage.png);
}
.show{
    background: #D1E7DD;
    
    height: 150px;
}
.number
{
    background: #F8D7DA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
    

}
.btn
{

}
