.container {
  width: 696px;
  height: 1000px;
  margin: auto;

  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 50px;

  display: grid;

  background: #d6f2fe80;
  border: none;

  border-radius: 10px;

  justify-items: center;
}
.heading {
  #h1 {
    font-family: poppins, sans-serif;
    font-size: 30px;
    margin: 0px 0px 10px;
    padding-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #p1 {
    font-size: 15px;
    font-family: inter, sans-serif;
    text-align: center;
    padding-bottom: 50px;
  }
}
.row1 {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  gap: 20px;
  #col1 {
    input {
      width: 320px;
      height: 50px;
      border: 1px light gray solid;
      border-radius: 10px;
      border: none;
      padding-left:30px;
    }
  }
  #col2 {
    input {
      width: 330px;
      height: 50px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
}
.row2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
  #col3 {
    input {
      width: 450px;
      height: 50px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
  #col4 {
    input {
      width: 200px;
      height: 50px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
}
.row3 {
  padding-bottom: 20px;
  input {
    width: 685px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    border: none;
  }
}
.row4 {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  gap: 30px;
  #col5 {
    select {
      width: 330px;
      height: 55px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
  #col6 {
    input {
      width: 330px;
      height: 50px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
}
.row5 {
  display: flex;
  justify-content: center;
  gap: 100px;
  #col7 {
    input {
      width: 20px;
      height: 25px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
  #col8 {
    select {
      width: 330px;
      height: 55px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
  #col9 {
    select {
      width: 330px;
      height: 55px;
      border: 1px solid gray;
      border-radius: 10px;
      border: none;
    }
  }
}
.button {
  width: 130px;
  height: 60px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-family: inter, sans-serif;
}
.button:hover {
}

header {
  position: sticky;
  top: 0px;
  height: fit-content;

  z-index: 100;
  background-color: white;
}
.header1 {
  padding: 25px;

  margin-bottom: 50px;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;

  #logo {
    width: 157px;
    height: 45px;
    align-items: left;
    padding-left: 50 px;
  }
  .navbuttons {
    gap: 20px;
    padding-right: 300px;
    #home {
      border: none;
      color: black;
      background: none;
      font-size: 18px;
      padding-right: 25px;
      font-family: inter, sans-serif;
    }
    #about {
      border: none;
      color: black;
      background: none;
      font-size: 18px;
      padding-right: 25px;
      font-family: inter, sans-serif;
    }
    #contact {
      border: none;
      color: black;
      background: none;
      font-size: 18px;
      padding-right: 25px;
      font-family: inter, sans-serif;
    }
    #courses {
      border: none;
      color: black;
      background: none;
      font-size: 18px;
      padding-right: 25px;
      font-family: inter, sans-serif;
    }
  }
  #ide {
    border: none;
    color: black;
    background: none;
    font-size: 18px;
    padding-right: 25px;
    font-family: inter, sans-serif;
  }

  .callbuttons {
    #login {
      border: none;
      color: black;
      background: none;
      font-size: 18px;
      font-family: inter, sans-serif;
    }
    #signup {
      border: none;
      border-radius: 10px;
      height: 50px;
      width: 150px;
      color: white;
      background: #125785;
      box-shadow: 6px 5px #308cca;

      font-size: 18px;
      font-family: inter, sans-serif;
    }
    #signup:hover {
      box-shadow: none;
      transform: translate(3px, 3px);
      transition: 2sec linear;
    }
  }
}
footer{

 
  background:#125785;
  color: white;
  padding: 50px;
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  #col1{
    border: 1px solid black;
    height: 200px;
    width: 300px;
   #logo{
    width: 157px;
    height: 45px;
    align-items: left;
    padding-left: 50 px;

   }

  }
   #col2{
    
  }
   #col3{
    
  }
   #col4{
    
  }
}
