#div1{
    width: 600px;
    height: 600px;
    background-color: red;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:right; /* for horizontal alignment */
    align-items: right; /* for vertical alignment */
   /* gap: 100px; /* for gapping 2 elements */
    /* justify-content: space-between;/* for horizontal spacing */
    /*justify-content: space-evenly; /*for horizontal spacing */

}
.divInner
{
    width: 100px;
    height: 100px;
    background-color: blue;
    
    border: 1px solid black;
   
}
